@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tùy chỉnh thanh cuộn */
body {
  position: relative;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 10px !important;
}

body::-webkit-scrollbar-thumb {
  background: #888 !important;
  border-radius: 10px !important;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}
